body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: whitesmoke;
}
.main-slider {
    height: auto;
}
.main-slider .row-slider {
    height: 200px;
    width: 200px;
    position: relative;
    border: 2px solid red;
    overflow-x:hidden;
}
.main-slider .row-slider .col-slider {

    height: 200px;
    position: absolute;
    background-color: aqua;
    display: flex;
    font-size: 2rem;
    justify-content: space-around;
    align-items: center;
}